/* CSS shared with editable and static data blocks */
.fi-placeholder { 
    display: block;
    margin: 0px auto 40px;
}
.fi-label {
    display: block;
    width: 100%;
    margin: 10px auto;
}
.fi-input {
    display: block;
    transition: all .2s ease 0s;
    border: 1px solid rgba(200,200,200,0);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px;
    border-radius: 1px;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0);
    background-color: rgba(255,255,255,.5);
    width: 100%;
    border: 1px solid rgba(255,255,255,0);
}
.fi-input.static{
    background-color: rgba(255,255,255,0);
}
.fi-error-msg {
    color: rgb(255, 111, 111);
    font-size: 1.2rem;
    margin-bottom: 4px;
}

/* Styles when editing */
.fi-inner-wrap.editing {
    z-index: 1000;
}
.fi-inner-wrap.editing .fi-label-text {
    color: rgb(255,255,255);
}
.fi-inner-wrap.editing .fi-input {
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,.4);
    font-size: 22px;
    border: 1px solid rgba(220,220,220,1);
    background-color: rgba(255,255,255,.8);
}

.fi-inner-wrap.editing .fi-error-message {
    display: block;
}